:root {
  --background: #111927;
  --btn-bg: #9fef00;
  --text-color: #8499b7;
  --first-text-color: #ffffff;
  --second-text-color: #f5e6ce;
  --border-color: #5f83bc;
}

* {
  /* box-sizing: border-box; */
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background: var(--background);
}

*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
}

*::-webkit-scrollbar-thumb {
  background: #bbb;
  border-radius: 9em;
}

*::-webkit-scrollbar-thumb:hover {
  background: #aaa;
}

/* for loading.js file style*/
.loading-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--btn-bg);
}

/*for not-founf.js file style*/

.not-found-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: inherit;
}

.cant-find {
  color: var(--second-text-color);
  margin: 2rem 0;
}

.back-home-btn {
  text-decoration: none;
  border: 1px solid var(--btn-bg);
  outline: none;
  color: var(--btn-bg);
  padding: 1rem;
}
